doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    body {font-family: Arial, Helvetica, sans-serif;}
    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    /* Set a style for all buttons */
    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    button:hover {
    opacity: 0.8;
    }
    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    }
    img.avatar {
    width: 40%;
    border-radius: 50%;
    }
    .container {
    padding: 16px;
    }
    span.psw {
    float: right;
    padding-top: 16px;
    }
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    }
h2 BGH Login adapter for Amazon Alexa
form.modal-content.animate(action='/oauth/authorize/callback')
  .imgcontainer
    img.avatar(src='img_avatar2.png' alt='Avatar')
  .container
    label(for='uname')
      b Username
    input(type='text' placeholder='Enter Username' name='uname' required='')
    label(for='psw')
      b Password
    input(type='password' placeholder='Enter Password' name='psw' required='')
    button(type='submit') Login
    input(type='hidden' name='redirectURL' value=redirectURL)
    input(type='hidden' name='state' value=state)
